@use "../top/vars" as *;

// Loading messages
.wrapper_d852db {
    background: unset;

    // Message
    .wrapper_fc8177 {
        background: unset;

        .attachment_fc8177,
        .avatar_fc8177,
        .blob_fc8177 {
            background: $dark;
            opacity: 0.2 !important;
        }
    }
}

// Loading forum posts
.loadingCard_f369db {
    background: $dark;
    opacity: 0.2 !important;
}
