@use "../top/vars" as *;

// Scrollbars

// Thick scrollbar
.auto_d125d2,
.auto__99f8c {
    &::-webkit-scrollbar {
        width: $size-border * 2;
        height: $size-border * 2;
    }

    &::-webkit-scrollbar-thumb {
        background: $light;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: $size-border solid transparent;
    }
}

.scroller__36d07::-webkit-scrollbar-track {
    margin-bottom: 0;
}

// Thin scrollbar
.thin__99f8c,
.thin_d125d2 {
    &::-webkit-scrollbar {
        width: $size-border;
        height: $size-border;
    }

    &::-webkit-scrollbar-thumb {
        background: $light;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: $size-border solid transparent;
    }
}
