@use "../top/vars" as *;
@use "../top/box";
@use "../top/sticky";

// Any layer
.layer__960e4 {
    opacity: 1 !important;

    // Settings layer
    + .layer__960e4 {
        background: unset;
        backdrop-filter: blur(2px) brightness(0.7);
        align-items: center;
        //Stop any elements from other layers from showing through
        z-index: 100;

        div:has(> .standardSidebarView__23e6b) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

// Settings modal
.standardSidebarView__23e6b {
    @include box.highlight;
    padding: 10px;
    left: unset;
    right: unset;
    bottom: 20px;
    top: 20px;

    .platform-win & {
        top: 22px + 20px;
    }

    .sidebarRegion__23e6b {
        flex: 0 0 var(--custom-standard-sidebar-view-sidebar-total-width);
    }
    .sidebarRegionScroller__23e6b {
        background: $medium;
    }
    .sidebar__23e6b {
        padding: 0 6px 0 0;

        // Item
        :is(.item_b3f026.item_b3f026.item_b3f026, .item_b3f026.item_b3f026.item_b3f026:hover) {
            @include sticky.box;
            padding: 0;

            &.selected_b3f026::before,
            &.selected_b3f026::after {
                background: $light;
            }

            &::before {
                margin-bottom: 6px;
            }
            &::after {
                margin-top: 6px;
            }
        }

        // Separator
        .separator_b3f026 {
            background: unset;
        }

        // Group header
        .header_b3f026,
        // Socials
        .link__7df54 {
            color: $black;
        }

        // Group header category
        .headerText_b3f026 {
            display: flex;

            .category-CysNYv {
                color: $black !important;
                order: -1;

                &::after {
                    content: "\00a0/\00a0";
                }
            }
        }

        // Version info
        .info__2debe .line__2debe {
            color: $black !important;
        }
    }

    .contentRegionScroller__23e6b {
        @include box.sync;
    }
}
