@use "../top/vars" as *;
@use "../top/box";
@use "../top/replace";

// User profile
.userProfileOuter_c69a7b {
    @include box.default;

    // Background
    .userProfileInner_c69a7b {
        background: $medium;
    }
    .overlayBackground_c69a7b {
        background: unset;
    }

    // Text
    .defaultColor__77578 {
        color: $black;
    }

    // Icon
    .avatar__44b0c {
        background: $dark;
    }

    // Badges
    .profileBadges_f89da9,
    .badgeList_ec3b75 {
        @include box.sync;
        padding: 0;

        &:empty {
            visibility: hidden;
        }
    }

    // Friend request button
    .relationshipButtons_ec3b75 {
        .actionButton_fe3e88 {
            @include box.highlight;
            height: 35px;
            color: $black;

            // Send friend request
            // Send message
            .contents__201d5 {
                @include replace.text("Pester");
            }

            // Friend request sent
            &:disabled .contents__201d5 {
                @include replace.text("Chum request sent");
            }
        }

        // More options
        .additionalActionsIcon_ec3b75,
        .additionalActionsIcon_ec3b75:hover {
            color: $black;
        }
    }

    // Name
    .userTagUsernameBase_c9ccf6,
    .discriminator_afed89 {
        color: $black;
    }
    .discrimBase_c9ccf6 {
        color: $grey;
    }

    // Status
    .customStatus__3aa7f,
    .customStatus-3qYNe4 {
        color: $grey;
    }

    // Tabs
    .tabBarContainer_b9fccc {
        border-bottom: 0;

        .tabBar_b9fccc {
            gap: 10px;

            .item_b3f026 {
                @include box.highlight;
                color: $black;
                padding: 8px;
                box-sizing: border-box;

                &.selected_b3f026,
                &:hover {
                    border-bottom-color: $dark;
                }

                // User info tab
                &:first-child {
                    @include replace.text("Chum Info");
                }

                // Mutual friends tab
                &:nth-last-child(2) {
                    @include replace.text("Mutual Chums");
                }
            }
        }
    }

    // Divider
    .divider_e6f9ab {
        display: none;
    }

    // Section title
    .title_c4a579 {
        color: $grey;
    }

    // Member since
    .memberSinceContainer__16630 {
        .discordIcon__1e1be {
            color: $black;
        }
    }

    // Activity
    .activity__20c1e {
        .headerText__2ef49 {
            color: $grey;
        }
        .activityName__2ef49,
        .content__2ef49,
        .details__2ef49,
        .name__2ef49,
        .nameNormal__2ef49,
        .nameWrap__2ef49 {
            color: $black;
        }
    }

    // Roles
    .role_dfa8b6 {
        @include box.sync;
        box-sizing: content-box;
        padding: 0;
        .roleNameOverflow__48c1c {
            color: $foreground;
        }
    }

    // Note
    .note_c90ad7,
    .note_c90ad7 {
        @include box.sync;
        .textarea_dde0a8 {
            color: $foreground;
        }
    }

    // Message
    .messageInputContainer_f2c0a8 {
        @include box.sync;
        .messageInput_f2c0a8 {
            color: $foreground;
        }
    }

    // Connected accounts
    .connectedAccountContainer_e6abe8 {
        @include box.sync;
    }

    // Server or friend
    .listRow__9d78f {
        .listName__9d78f,
        .guildNick_aafe31 {
            color: $grey;
        }
    }
}

// Themed
.userProfileOuterThemed_c69a7b.userPopoutOuter_c69a7b,
.userProfileOuterThemed_c69a7b.userProfileOuter_c69a7b {
    padding: 0;
}
.userProfileInner_c69a7b::before {
    display: none;
}
