@use "../top/vars" as *;

.bg__960e4 {
    background: $medium;
}

.content_c48ade {
    border: $size-border solid $light;

    .sidebar_c48ade {
        //Fix gap on channel list and user area
        padding: 0px;
        margin: 10px;
    }

    .sidebar_c48ade + :is(div, main):not(.erd_scroll_detection_container),
    .sidebar_c48ade + .erd_scroll_detection_container + :is(div, main):not(.erd_scroll_detection_container) {
        background: unset !important;
        border-left: $size-border solid $light;

        .content_f75fb0,
        .tabBody__133bf {
            padding: 16px;
            gap: 16px;

            &::before {
                display: none;
            }
        }
    }
}
