@use "../top/vars" as *;
@use "../top/replace";
@use "../top/box";

// DMs

// DM list
.privateChannels__35e86 {
    .scroller__99e7c {
        background: unset;

        // Primary channels
        .channel__972a0 {
            max-width: unset;

            // Friends channel
            &:has(path[d^="M3 5v-.75"]) .name__20a53 {
                @include replace.text("Chums", 16px);
                height: 20px;
            }
        }

        // DM header
        .headerText__99e7c {
            @include replace.text("Chumroll", 12px);
        }
    }
}

// Friends header (for other headers see _header.scss)
.container__9293f {
    // Friends title
    &:has(path[d^="M3 5v-.75"]) .title__9293f {
        @include replace.text("Chums", 16px);
    }

    // Friend tabs
    .item_b3f026 {
        @include box.highlight;
        color: $black;

        &.themed_b3f026:hover:not(.disabled_b3f026),
        &.themed_b3f026.selected_b3f026.item_b3f026,
        &.addFriend__133bf.addFriend__133bf {
            background-color: $light;
            color: $black;
        }
    }

    // Add friend button
    .addFriend__133bf span {
        @include replace.text("Add Chum", 16px);
        height: 20px;
    }

    .akaBadge__27cd4 {
        background: $black;
        color: $white;
    }
}

// DM call container
.wrapper_cb9592.minimum_cb9592 {
    background: unset;

    .quickSelectLabel__79774,
    .quickSelect__540d0,
    .controlIcon_f1ceac.themeable_f1ceac {
        color: $black;
    }

    // Square buttons
    .controlButton__1405b {
        @include box.default;
        .colorable_f1ceac.primaryDark_f1ceac,
        .colorable_f1ceac.primaryLight_f1ceac {
            background: unset;
        }
    }
}

// People
.peopleColumn__133bf {
    @include box.sync;

    // Sad wumpus: Wumpus is waiting on friends. You don't have to, though!
    .image__08515[style*="bca918618b884a382ab5.svg"] + .flexChild__7c0ba .text__0e310 {
        @include replace.text("Wumpus has no chums.", 16px);
    }

    // All tab
    &#all-tab {
        .title__1472a {
            position: relative;
            overflow: visible;
            margin-inline-start: calc(30px - 1.2em);

            &::before {
                content: "All chums";
                position: absolute;
                background: $background;
                padding-left: 1.2em;
            }
        }
    }

    // Blocked tab
    &#blocked-tab {
        .title__1472a {
            position: relative;
            overflow: visible;
            margin-inline-start: calc(30px + 1.2em);

            &::before {
                content: "Trollslum";
                position: absolute;
                background: $background;
                left: -1.2em;
            }
        }
    }

    // Add friend tab
    &#add_friend-tab {
        // Title: Add friend
        .title__94b08 {
            @include replace.text("Add Chum", 16px);
        }

        // Subtitle: You can add friends with their Discord usernames.
        .description_ddd181:first-child {
            @include replace.text("You can add chums with their chumhandles.", 14px);
        }

        // Input: You can add friends with their Discord usernames.
        .input__0f084::placeholder {
            color: transparent;
        }

        // Button: Send Friend Request
        .button__201d5 {
            @include box.default;

            .contents__201d5 {
                @include replace.text("Send chum request");
            }
        }

        // Title: Other places to make friends
        .title_a14595 {
            @include replace.text("Other places to make chums", 16px);
        }
    }
}

// Active now
.nowPlayingColumn__133bf {
    @include box.sync;

    .container__7d20c {
        background: unset;

        .scroller__7d20c {
            border-left: 0;
            margin-left: 0;
        }
    }
}

// User profile panel
.profilePanel_b433b4 {
    @include box.sync;

    .userProfileOuterUnthemed_c69a7b,
    .userPanelInnerThemed_c69a7b {
        background: unset;
    }
}

// Library, Nitro, Shop
:is(.scroller__4a84a, .scroller_c880e8) {
    @include box.sync;
    margin: 16px;

    // Library header
    .header_adb41f {
        background: unset;
    }
}

// Shop
.shopScrollBackgroundPrimary__28f1d {
    @include box.sync;
    margin: 16px;
    height: calc(100% - 80px);

    .pageWrapperBackgroundPrimary__36469 {
        background: unset;
    }
}
