@use "../top/vars" as *;
@use "../top/box";

// Forum main panel
.container_f369db {
    gap: 16px;
    background: unset;

    // Forum
    .list_f369db,
    .grid_f369db {
        @include box.default;

        & > div:first-child {
            padding: 0 12px;
            padding-right: 12px - ($size-border * 2);
        }

        // Post maker and posts
        .mainCard_f369db {
            @include box.sync;

            // Opened post
            &.isOpen__9a337 {
                border-color: $light;
            }

            // Pinned post
            .pinIcon__08166 {
                background: $dark;
            }

            // Gallery mode text
            .contentPreview__9a337 {
                background: unset;
                border: none;

                .textContentFooter__9a337 {
                    background: linear-gradient(to top, $background, transparent);
                }
            }
        }
        .container_faa96b:hover {
            transform: none;
        }

        // Post maker results
        .matchingPostsRow_f369db {
            background: unset;
            --text-normal: #{$black};

            .text-xs-normal_ccc5fb,
            .text-xs-semibold__2181c {
                font-size: 14px;
                line-height: 18px;
            }
        }

        // Post guidelines
        .container_ca49a1 {
            @include box.sync;
            .descriptionContainer_ca49a1 {
                background: unset;
            }
        }

        // Filter by tag
        .tagsContainer_f369db {
            // Divider
            .divider_f369db {
                width: $size-border;
                background: $dark;
            }

            // Sort and view
            // See all tags
            .sortDropdown_f369db,
            .tagsButton_f369db {
                @include box.default;
                --interactive-normal: #{$black};

                &[aria-expanded="true"] {
                    border-color: $light;
                }
            }
            .tagsButton_f369db {
                padding: 0;

                // Tag counter
                .countContainer_f369db {
                    background: unset;
                }
                .countText_f369db {
                    color: $black;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
}

// Tags
.pill_a2c9e8.pill_a2c9e8 {
    @include box.default;
    --text-normal: #{$black};

    &.clickable_a2c9e8:not(.disabled_a2c9e8):hover {
        background: $medium;
    }

    &.selected_a2c9e8.selected_a2c9e8 {
        border-color: $light;
        background: $medium;
    }
}

// Unset forum minimum width
.grid-21dB-S > div:first-child,
.headerRow_f369db,
.list_f369db > div:first-child {
    min-width: unset;
    box-sizing: border-box;
}

// Forum post info
.scrollerInner__36d07 {
    overflow: unset;
    .container__34c2c {
        background: unset;
        pointer-events: none;
        border-top: 0;
        top: 0;

        .reactButtons__34c2c,
        .buttons__34c2c {
            pointer-events: all;
        }
    }
    .divider_ee23ac {
        display: none;
    }

    // Post action buttons
    .addReactButton__34c2c,
    .buttonInner__34c2c {
        @include box.default;
        color: $black;

        &.active_f8896c {
            @include box.highlight;
        }

        &:hover,
        &:active .icon_f8896c,
        &.active_f8896c .icon_f8896c,
        &:hover .icon_f8896c {
            color: $black;
        }
    }

    // Reaction
    .reaction_f8896c {
        @include box.default;

        &.reactionMe_f8896c {
            @include box.highlight;
        }

        .reactionCount_f8896c {
            color: $black;
        }
    }
}
