@use "../top/vars" as *;

// Header bar
.container__9293f:is(.title_f75fb0, .themed__9293f) {
    background: unset;

    // No shadow
    &::before {
        display: none;
    }

    .children__9293f::after {
        background: linear-gradient(90deg, transparent, var(--message-background-alt));
    }

    .title__9293f,
    .topic__6ec1a,
    .nicknames__12efb {
        color: $black;
    }

    .divider__9293f {
        display: none;
    }

    .searchBar__97492,
    .searchBar__3fb48 {
        background: $background;
    }

    // Channel icon
    .icon__9293f,
    .clickable__9293f .icon__9293f,
    .clickable__9293f:hover .icon__9293f,
    .selected__9293f .icon__9293f {
        color: $black;
    }
    .iconWrapper__9293f path {
        fill: $black;
    }
}
