@use "../top/vars" as *;
@use "../top/box";

// Specific to members view header
.header_c791b2 {
    box-shadow: none;

    + .scroller_d20375 {
        padding-bottom: 0;
        top: 16px;
        left: 16px;
        width: calc(100% - 28px);

        .content_f75fb0.content_f75fb0.content_f75fb0 {
            padding: 0;
            @include box.sync;
        }
    }
}

// Server members view
.mainTableContainer__09a38 {
    background: $background;
}
