@use "../top/vars" as *;
@use "../top/box";

// Chat

// Header bar (eg. this channel is not on your channel list)
.chatHeaderBar_dc83f5 {
    @include box.highlight($BG-COLOR: $background);

    &::after {
        display: none;
    }
}

// Chat main panel
.chatContent_f75fb0 {
    gap: 16px;
    background: unset;

    // Chat
    .messagesWrapper__36d07 {
        @include box.sync;
    }

    // Bars
    .newMessagesBar__0f481,
    .jumpToPresentBar__0f481 {
        background: $dark;
    }
}

// Message area
.form_f75fb0 {
    padding: 0;

    &::before {
        display: none;
    }

    .channelTextArea_f75fb0 {
        @include box.sync;
        box-sizing: border-box;

        &.channelTextAreaDisabled__74017 {
            background: $dark;
        }

        .themedBackground__74017 {
            background: unset;
        }
    }

    // Accessories
    .base_b88801 {
        color: $black;
        inset: auto 0 0;

        // Typing
        .dots__5ad89.themed__5ad89 {
            color: $black;
        }

        // Slow mode
        .cooldownWrapper_b21699 {
            color: $black !important;
        }
    }
}
