@use "../top/vars" as *;
@use "../top/box";

// Server guide
.scrollerBase_d125d2:has(.homeContainer__7449f) {
    @include box.default;
    margin: 16px;

    .row_d13feb,
    .sidebarCardWrapper__7449f {
        @include box.sync;
    }
}

// Channels and roles
.header__0b563:has(path[d^="M18.5 23"]) + .container__0b563.container__0b563.container__0b563 {
    @include box.default;
    margin: 16px;
    padding: 0;
    gap: 0;

    // Background
    .emptyPage__5d7c9,
    .scrollerContainer_c6b11b,
    .container_c2efea {
        background: unset;
    }

    // Tabs
    .tabBar__0b563 {
        border-bottom: 0;

        .tabBarItem__0b563 {
            padding: 2px 8px;
        }

        // Channel count
        .textBadge_f05120 {
            --background-accent: #{$dark};
        }
    }

    // Customisation questions main title
    .heading-md-semibold__76ba1 {
        --header-primary: #{$black};

        + .text-xs-normal__46d75 {
            --text-muted: #{$black};
        }
    }

    // Choose all that apply
    .helpText__5d7c9 {
        --text-muted: #{$black};
    }

    // Customisation question group
    .prompt__5d7c9 {
        border: none;
        background: unset;

        // Option
        .optionButtonWrapper__270d7 {
            @include box.sync;

            &.selected__270d7 {
                @include box.highlight($background);

                .checkIcon__270d7 {
                    background: $light;

                    path {
                        fill: $black;
                    }
                }
            }
        }
    }

    // Profile preview
    .profileCard__5d7c9 {
        @include box.sync;
    }

    // Search for channels
    .container__33507 {
        @include box.sync;
    }

    // Channel group header
    .categoryRow_e4503a {
        --text-muted: #{$black};

        .checkbox_f525d3 {
            background: $black !important;
            border: none;
        }
    }

    // Channel
    .channelRow_e4503a {
        @include box.sync;
        border-top-width: 0;
        border-bottom-width: 0;

        &.firstChannel_e4503a {
            border-top-width: 4px;
        }

        &.lastChannel_e4503a {
            border-bottom-width: 4px;
        }
    }

    // Separators
    .separator_e4503a {
        display: none;
    }
}

// Server shop
.content__49668 {
    @include box.sync;
    margin: 16px;
    padding: 0;
    padding-right: 0 !important;

    // Box for some reason
    .contentContainer__49668 {
        width: auto;
    }

    // Banner
    .container_adb50a {
        background: unset;
        box-shadow: none;
        border: none;

        .coverImageContainer_adb50a {
            width: unset;
        }
    }

    // Support options
    .container_d804ff {
        padding: 16px;

        // Item
        .tab_d804ff {
            @include box.default;
            box-shadow: none;

            &.selected_d804ff {
                @include box.highlight;
                box-shadow: none;
            }

            .text-sm-semibold_d260b0,
            .text-xs-normal__46d75 {
                color: $black !important;
            }
        }
    }

    .tabContainer__49668 {
        border-top: 0;
    }

    // Perk card
    .cardContainerWithoutTopIndicator__3efc4 {
        @include box.default;

        --header-primary: #{$black};
        --header-secondary: #{$black};
        --interactive-active: #{$black};
        --interactive-normal: #{$black};
        --text-muted: #{$black};
        --text-normal: #{$black};

        .tierInfoContainer__3efc4,
        .subscriptionPerks__3efc4 {
            background: unset;
        }

        // Preview
        .roleMessagePreview__3efc4 {
            @include box.sync;
            --text-normal: #{$foreground};
        }
    }
}
