@use "../top/vars" as *;
@use "../top/box";
@use "../top/sticky";

// Search results
.searchResultsWrap_a9e706 {
    @include box.highlight;

    // Header
    .searchHeader_f3b986 {
        background: $medium;
        --header-primary: #{$black};
    }

    // Results
    .scroller_a9e706 {
        padding: 0 10px;
        padding-right: 10px - $size-border !important;
    }

    // Channel
    .searchResultGroup_c68065 {
        // Name
        .channelNameContainer_c68065 {
            // Channel name
            --header-primary: #{$black};
            // Parent channel name
            --header-secondary: #{$black};
        }

        // Content
        .searchResult__02a39 {
            @include box.sync;
            @include sticky.box($BOTTOM: 54px);
        }

        // Jump button
        .buttonsContainer__02a39 {
            display: none;
        }
    }
    &:not(:has(.pageControlContainer_c15210)) {
        .searchResult__02a39::after {
            bottom: 20px;
        }
    }

    // Navigation
    .container__3f123 {
        position: sticky;
        bottom: 0;
        background: $medium;
        z-index: 2;
        // Text
        --header-primary: #{$black};
        --text-normal: #{$black};
        // Hovered text
        --interactive-hover: #{$black};

        // Buttons
        .pageButton_c15210 {
            @include box.default;

            &.activeButton_c15210 {
                border-color: $light;
                color: $black;
            }
        }
    }
}
