@use "../top/vars" as *;

// Servers list
.wrapper_ef3116 {
    background: unset;

    // Home and favourite icons
    @at-root .wrapper__6e9f8 {
        &:is(&, :hover) {
            .childWrapper__6e9f8:not(.tutorialContainer__1f388 .childWrapper__6e9f8) {
                background: $background;
                color: $light;
            }

            //Home icon
            .childWrapper__6e9f8 {
                background: url("https://minidiscordthemes.github.io/Pesterchum/img/home.avif") center/80% no-repeat $background;
                color: transparent;
            }
        }
    }

    // New and discover icons
    .circleIconButton__5bc7e {
        color: $light;
    }

    //Discover icon background fix
    .footer__214dc {
        background: unset;
    }

    // Icon backgrounds
    .childWrapper_a6ce15,
    .wrapper__8436d:hover .childWrapper_a6ce15,
    .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
    .circleIconButton__5bc7e {
        background-color: $background;
    }

    // Folders
    .expandedFolderBackground__48112,
    .folder__48112 {
        background: $background;
    }
}
