@use "../top/vars" as *;

// Thread split view
.chatTarget__01ae2,
.container__01ae2 {
    background: $medium;
}

.chat_f02135,
.chat_a44415 {
    padding: 16px;

    &::before {
        display: none;
    }
}

// Floating thread view
.floating__01ae2 {
    filter: none;
    border-left: $size-border solid $light;
}

// Resize thread handle
.resizeHandle__01ae2 {
    width: $size-border * 1.5;
    background: $light;
}
