@use "../top/vars" as *;

// Titlebar

// Logo
.wordmark__421ed {
    visibility: hidden;
    padding: 0;

    &::before {
        visibility: visible;
        padding: 4px 9px 3px;
        content: "PESTERCHUM";
        font-weight: 700;
        font-size: 16px;
        color: $white;
    }
}

// Windows buttons
.winButton__421ed {
    color: $white;
}
