@use "../../top/vars" as *;
@use "../../top/box";

// Channels
.sidebar_c48ade {
    background: unset;
    padding: 10px;
    gap: 10px;
    width: var(--chum-sidebar-width);
    box-sizing: border-box;

    // Title
    &::before {
        content: "PESTERCHUM 6.0";
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        color: $white;
    }

    // Actual channels and userarea
    .container__2637a,
    .privateChannels__35e86,
    .panels_c48ade {
        @include box.highlight($background);
    }
}
