@use "../../top/vars" as *;
@use "../../top/box";

// Adjust channel list width
@import url("https://minidiscordthemes.github.io/Snippets/ChannelListWidth/main.css");
:root {
    --channellist-width: var(--chum-sidebar-width);
}

// Server channels list
.sidebar_c48ade {
    // Voice users collapsed
    .overlap__07f91 .avatar__07f91,
    .moreContainer__55bab {
        @include box.black;
        border-radius: $size-max;
    }

    // Unread bars
    .bar__7aaec {
        @include box.black;
        border-radius: $size-max;
    }

    // Voice user limit
    .wrapper__260e1 {
        .users__260e1,
        .total__260e1 {
            background: unset;
        }
        .total__260e1:after {
            content: "/";
            border: 0;
        }
    }

    // Show all voice channels
    .voiceChannelsButton__29444:hover {
        background: unset;
    }
}
