@use "../../top/vars" as *;
@use "../../top/box";

.panels_c48ade {
    .panel__5dec7,
    .container_e131a9,
    .container__37e49,
    .wrapper__0d616 {
        background: unset;
    }

    // Quest progress
    .contentWrapper__0d616,
    .postEnrollmentBackground_c3427e {
        background: $background !important;
    }

    // Now playing
    .panel__5dec7 {
        border-bottom: 0;
    }

    // Voice controls
    .container_e131a9 {
        border-bottom: 0;

        // Activity buttons
        .actionButtons_e131a9 {
            .button_e131a9:not(.disabledButtonWrapper__201d5) {
                @include box.default;
                height: 36px;
                color: $background;
                padding: 0;
            }

            // Disabled button
            .disabledButtonWrapper__201d5 {
                height: 36px;

                .contents__201d5 {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    // User controls
    .container__37e49 {
        margin-bottom: 0;

        .avatarWrapper__37e49 {
            margin: 0;
            padding-left: 0;
        }
    }
}
